# Integração Python x SQL

Neste notebook vamos aprender a usar sql dentro de um jupyter notebook.

Agora vamos criar o container:

```docker-compose -f postgres-docker-compose.yaml up ```

"Entre no seu container".
No terminal, digite o comando:
```docker exec -it database bash```

Agora, vamos carregar a base de dados.

Primeiro, vamos apagar a base de dados imdb, se existir.

```psql -U postgres -h localhost -c 'DROP DATABASE IF EXISTS imdb'```

Então vamos criar a base de dados
```psql -U postgres -h localhost -c 'CREATE DATABASE imdb' ```

Agora vamos importar o imdbdb.sql para a base de dados. Como na construção do container criamos o volume dos dados, basta executar o seguinte comando:

```psql -U postgres -h localhost -d imdb -f data/imdb_lecture.sql```

Vamos conectar à base de dados com a mágica sql.

In [2]:
%reload_ext sql

/Users/gabrielasoares/.local/share/virtualenvs/integracao-jupyter-sql-cLkkWYnq/lib/python3.9/site-packages/urllib3/__init__.py:34: NotOpenSSLWarning: urllib3 v2.0 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [4]:
%sql postgresql://postgres:postgres@127.0.0.1:5432/imdb

Connecting to 'postgresql://postgres:***@127.0.0.1:5432/imdb'

Verifique a base de dados usando o dbeaver.

Vamos conferir aqui também:

In [5]:
%%sql
SELECT *
FROM information_schema.schemata;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/imdb'

6 rows affected.

+--------------+--------------------+--------------+-------------------------------+------------------------------+----------------------------+----------+
| catalog_name |    schema_name     | schema_owner | default_character_set_catalog | default_character_set_schema | default_character_set_name | sql_path |
+--------------+--------------------+--------------+-------------------------------+------------------------------+----------------------------+----------+
|     imdb     | information_schema |   postgres   |              None             |             None             |            None            |   None   |
|     imdb     |       public       |   postgres   |              None             |             None             |            None            |   None   |
|     imdb     |     pg_catalog     |   postgres   |              None             |             None             |            None            |   None   |
|     imdb     |  pg_toast_temp_1   |   postgres   |              None             |             None             |            None            |   None   |
|     imdb     |     pg_temp_1      |   postgres   |              None             |             None             |            None            |   None   |
|     imdb     |      pg_toast      |   postgres   |              None             |             None             |            None            |   None   |
+--------------+--------------------+--------------+-------------------------------+------------------------------+----------------------------+----------+

In [9]:
%%sql
SELECT *
FROM akas
LIMIT 10;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/imdb'

10 rows affected.

+------------+---------------------------+--------+----------+-------------+------------+-------------------+
|  title_id  |           title           | region | language |    types    | attributes | is_original_title |
+------------+---------------------------+--------+----------+-------------+------------+-------------------+
| tt0909144  |             46            |   US   |   None   |     None    |    None    |         0         |
| tt3719148  | Gustavo Lopez/Abel Pintos |   AR   |   None   |     None    |    None    |         0         |
| tt9047618  |   The Women in the Sand   |   GB   |   None   | imdbDisplay |    None    |         0         |
| tt1259521  |    La cabaña del terror   |   AR   |   None   | imdbDisplay |    None    |         0         |
| tt5557622  |        एपिसोड #1.15       |   IN   |    hi    |     None    |    None    |         0         |
| tt10647574 |        Folge #1.106       |   DE   |    de    |     None    |    None    |         0         |
| tt0111161  |     Побег из Шоушенка     |   RU   |   None   | imdbDisplay |    None    |         0         |
| tt1642404  |      Episodio #1.4002     |   ES   |    es    |     None    |    None    |         0         |
| tt0894015  |             28            |   US   |   None   |     None    |    None    |         0         |
| tt10592866 |           Utmark          |   MX   |   None   | imdbDisplay |    None    |         0         |
+------------+---------------------------+--------+----------+-------------+------------+-------------------+
Truncated to displaylimit of 10.

In [8]:
%%sql
SELECT *
FROM crew
LIMIT 10;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/imdb'

10 rows affected.

+-----------+-----------+----------+------+
|  title_id | person_id | category | job  |
+-----------+-----------+----------+------+
| tt0008572 | nm0913094 |  actor   | None |
| tt0009202 | nm0154352 | director | None |
| tt0009202 | nm0453799 |  actor   | None |
| tt0009202 | nm0545730 |  writer  | play |
| tt0009202 | nm0872200 |  actor   | None |
| tt0015483 | nm0122829 | director | None |
| tt0015483 | nm0243323 | actress  | None |
| tt0015483 | nm0496470 |  actor   | None |
| tt0017099 | nm0006278 | composer | None |
| tt0017099 | nm0381692 | actress  | None |
+-----------+-----------+----------+------+
Truncated to displaylimit of 10.

In [10]:
%%sql
SELECT *
FROM episodes
LIMIT 10;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/imdb'

10 rows affected.

+------------------+---------------+---------------+----------------+
| episode_title_id | show_title_id | season_number | episode_number |
+------------------+---------------+---------------+----------------+
|    tt0067529     |   tt0066685   |       1       |       0        |
|    tt0073777     |   tt0072574   |       1       |       0        |
|    tt0354976     |   tt12758444  |      None     |      None      |
|    tt0357290     |   tt12758444  |      None     |      None      |
|    tt0471532     |   tt0471464   |      None     |      None      |
|    tt0497914     |   tt0159876   |       14      |       2        |
|    tt0504080     |   tt0375244   |      None     |      None      |
|    tt0505734     |   tt0195440   |       1       |      101       |
|    tt0505735     |   tt0195440   |       1       |       3        |
|    tt0505739     |   tt0195440   |       1       |      105       |
+------------------+---------------+---------------+----------------+
Truncated to displaylimit of 10.

In [11]:
%%sql
SELECT *
FROM people
LIMIT 10;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/imdb'

10 rows affected.

+------------+---------------------+------+------+
| person_id  |         name        | born | died |
+------------+---------------------+------+------+
| nm0384214  |     Dwayne Hill     | None | None |
| nm0362443  |     Dave Hardman    | 1960 | None |
| nm1560888  |   Rich Pryce-Jones  | None | None |
| nm0006669  |    William Sadler   | 1950 | None |
| nm1373094  | Giada De Laurentiis | 1970 | None |
| nm7316782  |   Janine Hartmann   | None | None |
| nm8671663  |   Tereza Taliánová  | 2005 | None |
| nm10480297 |    Chris Heywood    | None | None |
| nm10803545 |     Chengao Zhou    | None | None |
| nm9849414  |     Mark Langley    | None | None |
+------------+---------------------+------+------+
Truncated to displaylimit of 10.

In [12]:
%%sql
SELECT *
FROM ratings
LIMIT 10;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/imdb'

10 rows affected.

+-----------+--------+-------+
|  title_id | rating | votes |
+-----------+--------+-------+
| tt0207282 |  5.2   |  149  |
| tt1161624 |  7.9   |   20  |
| tt0519051 |  8.0   |  113  |
| tt1328943 |  6.6   |   40  |
| tt0528415 |  7.2   |  100  |
| tt4481174 |  7.6   |   21  |
| tt0141566 |  7.1   |   10  |
| tt0085082 |  4.7   |  120  |
| tt7224994 |  7.3   |  192  |
| tt6324664 |  5.0   |   9   |
+-----------+--------+-------+
Truncated to displaylimit of 10.

In [13]:
%%sql
SELECT *
FROM titles
LIMIT 10;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/imdb'

10 rows affected.

+-----------+-------+------------------------------+-----------------------------+----------+-----------+-------+-----------------+--------------------+
|  title_id |  type |        primary_title         |        original_title       | is_adult | premiered | ended | runtime_minutes |       genres       |
+-----------+-------+------------------------------+-----------------------------+----------+-----------+-------+-----------------+--------------------+
| tt0008572 | movie |      The Silent Master       |      The Silent Master      |    0     |    1917   |  None |        70       |    Crime,Drama     |
| tt0008572 | movie |      The Silent Master       |      The Silent Master      |    0     |    1917   |  None |       None      |    Crime,Drama     |
| tt0009202 | movie |      The House of Glass      |      The House of Glass     |    0     |    1918   |  None |        50       |       Drama        |
| tt0015483 | movie |    What Three Men Wanted     |    What Three Men Wanted    |    0     |    1924   |  None |       None      |      Mystery       |
| tt0017099 | movie | Madame Doesn't Want Children | Madame wünscht keine Kinder |    0     |    1926   |  None |        98       |       Drama        |
| tt0019700 | movie |         Black Waters         |         Black Waters        |    0     |    1929   |  None |        84       |   Crime,Mystery    |
| tt0021152 | movie |         Montana Moon         |         Montana Moon        |    0     |    1930   |  None |        89       |      Western       |
| tt0023960 | movie |        Double Harness        |        Double Harness       |    0     |    1933   |  None |        69       |    Comedy,Drama    |
| tt0024769 | movie |    Whistling in the Dark     |    Whistling in the Dark    |    0     |    1933   |  None |        79       | Comedy,Crime,Drama |
| tt0024895 | movie |          Black Moon          |          Black Moon         |    0     |    1934   |  None |        68       |    Drama,Horror    |
+-----------+-------+------------------------------+-----------------------------+----------+-----------+-------+-----------------+--------------------+
Truncated to displaylimit of 10.

## CAST
Converte um tipo para outro para cálculo.

* Se premiered for string, nós podemos fazer cast para inteiro
* CAST(premiered AS INTEGER)

In [14]:
%%sql
SELECT primary_title, type,
     premiered AS release_year,
     runtime_minutes,
     runtime_minutes/60 AS
         runtime_hours
FROM titles
WHERE premiered >= 2020 AND
      premiered <= 2023;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/imdb'

115 rows affected.

+-----------------------------------+----------+--------------+-----------------+---------------+
|           primary_title           |   type   | release_year | runtime_minutes | runtime_hours |
+-----------------------------------+----------+--------------+-----------------+---------------+
|           Blood of Zeus           | tvSeries |     2020     |        30       |       0       |
|           Gods & Heroes           | tvSeries |     2020     |        30       |       0       |
|             Shaq Life             | tvSeries |     2020     |       None      |      None     |
|            What's After           | tvSeries |     2020     |       None      |      None     |
|               Utmark              | tvSeries |     2020     |       None      |      None     |
|          La Femme Anjola          |  movie   |     2021     |       140       |       2       |
|             Mr. Corman            | tvSeries |     2021     |       285       |       4       |
| Player Vs Player with Trevor Noah | tvSeries |     2021     |       None      |      None     |
|           Run for Young           | tvSeries |     2020     |       None      |      None     |
|            Poker Nights           | tvSeries |     2021     |        6        |       0       |
+-----------------------------------+----------+--------------+-----------------+---------------+
Truncated to displaylimit of 10.

In [15]:
%%sql
SELECT primary_title, type,
     premiered AS release_year,
     runtime_minutes,
     CAST(runtime_minutes AS DOUBLE PRECISION)/60 AS
         runtime_hours
FROM titles
WHERE premiered >= 2020 AND
      premiered <= 2023;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/imdb'

115 rows affected.

+-----------------------------------+----------+--------------+-----------------+------------------+
|           primary_title           |   type   | release_year | runtime_minutes |  runtime_hours   |
+-----------------------------------+----------+--------------+-----------------+------------------+
|           Blood of Zeus           | tvSeries |     2020     |        30       |       0.5        |
|           Gods & Heroes           | tvSeries |     2020     |        30       |       0.5        |
|             Shaq Life             | tvSeries |     2020     |       None      |       None       |
|            What's After           | tvSeries |     2020     |       None      |       None       |
|               Utmark              | tvSeries |     2020     |       None      |       None       |
|          La Femme Anjola          |  movie   |     2021     |       140       | 2.33333333333333 |
|             Mr. Corman            | tvSeries |     2021     |       285       |       4.75       |
| Player Vs Player with Trevor Noah | tvSeries |     2021     |       None      |       None       |
|           Run for Young           | tvSeries |     2020     |       None      |       None       |
|            Poker Nights           | tvSeries |     2021     |        6        |       0.1        |
+-----------------------------------+----------+--------------+-----------------+------------------+
Truncated to displaylimit of 10.